#!/usr/bin/env bash

# Export Staged Root
OOD_STAGED_ROOT="<%= session.staged_root %>"
export OOD_STAGED_ROOT

# Set User Defined Workspace file
<%- if context.code_workspace.blank? -%>
CODE_SERVER_WORKSPACE="${OOD_STAGED_ROOT}/job.code-workspace"
<%- else -%>
CODE_SERVER_WORKSPACE="<%= context.code_workspace.to_s %>"
<%- end -%>
export CODE_SERVER_WORKSPACE

# Set Submission Type
<%- if not context.sub_type.blank? -%>
OOD_SUBMIT_TYPE="<%= context.sub_type.to_s %>"
export OOD_SUBMIT_TYPE
<%- end -%>

# Set Modules
OOD_MODULES="<%= context.version %>"
export OOD_MODULES

# Set User Environment Setup Script
<%- if not context.env_setup_script.blank? -%>
OOD_ENV_SETUP_SCRIPT="<%= context.env_setup_script.to_s %>"
export OOD_ENV_SETUP_SCRIPT
<%- end -%>

# Set User Defined SIF File
<%- if not context.sif_file.blank? -%>
OOD_SIF="<%= context.sif_file.to_s %>"
export OOD_SIF
<%- end -%>
